{
  "all": true,
  "check-coverage": true,
  "statements": 74,
  "branches": 62,
  "functions": 70,
  "lines": 78,
  "temp-dir": "./test/logs/nyc_output",
  "reporter": ["html", "text", "text-summary", "lcov"],
  "report-dir": "./test/logs/coverage",
  "exclude": [
    "examples",
    "src/index.ts",
    "test",
    "src/utils/EpAsyncApiErrors.ts"
  ]
}
